main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.nav-contato{
    background-color: #1C53CD;
    width: 60px;
    height: 20px;
    text-align: center;
    border-radius: 2px;
    
    a{
    color: white;
    }
}

.form-content{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.campos{
    display: flex;
    flex-direction: column;
    gap: 15px; /* Espaço entre os campos */
}

.form-content img{
    width: 100%;
    max-width: 320px;
    height: auto;
}

.inputForm{
    width: 250px;
    padding: 10px;
    background-color: transparent;
    border-radius: 5px;
    border: 2px solid #ccc; 
    outline: none;
    color: white;
}

input:focus {
  border-color: #0066cc; 
  box-shadow: 0 0 5px rgba(0, 102, 204, 0.5); 
}

::placeholder{
    color: white;
    text-align: center;
}

input:focus::placeholder {
        color: transparent;
}

#tipoContato{
    color: white;
}

select{
    color: white;
    width: 273px;
    padding: 10px;
    background-color: transparent;
    border-radius: 5px;
    border: 2px solid #ccc; 
    outline: none;
    text-align: center;
}

.select-main{
    background-color:white;
    color: black;
}

select:focus {
  border-color: #0066cc; 
  box-shadow: 0 0 5px rgba(0, 102, 204, 0.5); 
}

.lblForm{
    color: white;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.btnForm{
    background-color: #1C53CD;
    color: white;
    border-radius: 5px;
    width: 120px;
    height: 30px;
    border: none;
}

@media(max-width: 768px){
    .form-content{
        flex-direction: column;
        gap: 30px;
    }
}